@charset "utf-8";


body{
    background-color: rgb(219, 226, 224);
}

footer{
    margin-top: 1000px;
}



                                /* Barra de navegação */

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
}

img.img-logo{
    width: 50px;
    margin: 0;
    margin-left: 50%;
}

a.nav-link{
    font-family: 'Ubuntu';
    text-transform: uppercase;
    color: rgb(185, 150, 103) !important;
    font-size: 0.9em;
}

/* a.nav-link:hover{
color: darkslategrey !important;
} */

li.nav-item{
    margin-left: 25px;
}

li.nav-item > a.nav-link:hover{
    color: darkslategrey !important;
    border-bottom: 3px solid black;   
}


/* Toggle icon */

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/hamburguer02.png');
}
.navbar-light .navbar-toggler{
    color: transparent;
    border-color: transparent;
}

/*  */

.botao-tel{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
    font-family: 'Ubuntu-normal', sans-serif;
    font-weight: normal;
}

.botao-tel:hover{
    cursor: pointer;
}

@media(max-width:992px){
    .botao-tel{
        display: none;
    }

    li.nav-item{
        text-align: center;
    }
}


                                           /* Main */

.main{
    margin-top: 60px;
    height: 550px;
    background: url('../img/100bc25cad4e613081d21d88735a437b-20151214084411.jpg');
    background-attachment: fixed;
    background-size: cover;
}