@charset "utf-8";

                                /* Barra de navegação */
img.img-logo{
    width: 50px;
    margin: 0;
    margin-left: 50%;
}

a.nav-link{
    font-family: 'Ubuntu';
    text-transform: uppercase;
    color: rgb(185, 150, 103) !important;
    font-size: 0.9em;
}

/* a.nav-link:hover{
color: darkslategrey !important;
} */

li.nav-item{
    margin-left: 25px;
}

li.nav-item > a.nav-link:hover{
    color: darkslategrey !important;
    border-bottom: 3px solid black;   
}

.botao-tel{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
    font-family: 'Ubuntu-normal', sans-serif;
    font-weight: normal;
}

.botao-tel:hover{
    cursor: pointer;
}

@media(max-width:992px){
    .botao-tel{
        display: none;
    }
}
