@charset "utf-8";


body{
    background-color: rgb(219, 226, 224);
}




                                /* Barra de navegação */

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(58, 57, 57);
}

#logo{
    /* display: none; */
}

img.img-logo{
    width: 50px;
    margin: 0;
    margin-left: 50%;
}

a.nav-link{
    font-family: 'Ubuntu';
    text-transform: uppercase;
    color: rgb(185, 150, 103) !important;
    font-size: 0.9em;
}

/* a.nav-link:hover{
color: darkslategrey !important;
} */

li.nav-item{
    margin-left: 25px;
}

li.nav-item > a.nav-link:hover{
    color: darkslategrey !important;
    border-bottom: 3px solid black;   
}


/* Toggle icon */

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/hamburguer02.png');
}
.navbar-light .navbar-toggler{
    color: transparent;
    border-color: transparent;
}

/*  */

.botao-tel{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
    font-family: 'Ubuntu-normal', sans-serif;
    font-weight: normal;
    color: rgb(185, 150, 103);
}

.botao-tel:hover{
    cursor: pointer;
}

@media(max-width:992px){
    .botao-tel{
        display: none;
    }

    li.nav-item{
        text-align: center;
    }
}


                                           /* Main */

.main{
    margin-top: 60px;
    height: 500px;
    background: url('../img/imgq5w4e8q78.png');
    background-attachment:fixed;
    background-size: cover;
}

.sub-main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

img.main-logo{
    margin-top:5%;
}

.seta{
    display: none;
    border-style: solid;
    border-width: 30px;
    border-color: white transparent transparent transparent; 
}


@media(max-width:420px){
    .seta{
        display: block;
        margin: 15% auto;
    }

    img.main-logo{
        width: 80%;
    }
}

@media(max-width:420px) and (max-height:570px){

    .main{
        height: 450px;
    }
}


                                                    /* Quem somos */


.sobre{
    background-color: white;
    border-bottom: 2px solid rgba(185, 150, 103, 0.3)
}

.sombreado{
    text-shadow: 1px 1px 1px rgb(59, 59, 59);
}

.sobre p{
    text-align: justify;
    font-family: 'Lato';
}

.text-gold{
    color:  rgb(185, 150, 103);
    font-family: 'Lato';
}

                                                /* Área de atuação */


.atuacao{
    /* border: 2px solid black; */
    background-color: white;
}

.atuacao-block:hover{
    box-shadow: 0px 0px 10px rgb(185, 150, 103);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.8s;
}

.mini-logos{
    display: block;
    margin: 0px auto !important;
}


.border-black{
    border: 2px solid black;
}

.mini-text{
    font-family: 'Lato'
}



                                                       /* Endereço */
.address{

    background:url('../img/imgq5w4e8q78.png') no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.65);
    /* width: 100%; */
}


span.address-text{
    display: block;
    padding: 25px;
}

span>i{
    margin-right: 10px;
}

.address-text{
    font-weight: bold;
    font-family: 'Lato';
    font-size: 1.4em;
    left: 15px;
}


.button-call{
    padding: ;
    margin: 15px auto;
    display: block;
    width: 90%;
    font-weight: bold;
    font-family: 'Lato';
    background-color: rgb(185, 150, 103);
    color: rgb(31, 30, 30);

}

.map-google{
    border-radius: 5px;
    margin: 20px auto;
    display: block;
}



                                            /* Footer */


footer{
    background-color: white;
    height: 70px;
    padding-bottom: 50px;
}


footer a{
    font-weight: bolder;
    color: rgb(185, 150, 103);
}

footer a:hover{
    color: black;
    text-decoration: none;
}

    /* footer a i{

        font-size: 2em !important;
    } */